
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
   background-color: #fff;
   color: #636b6f;
   font-family: 'Raleway', sans-serif;
   font-weight: 100;
   height: 100vh;
  font-size: large;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}


.m-b-md {
  margin-bottom: 30px;
}

.gallery
{
  display: inline-block;
  margin-top: 20px;
}
.close-icon{
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: -10px;
  padding: 5px 8px;
}
.form-image-upload{
  background: #e8e8e8 none repeat scroll 0 0;
  padding: 15px;
}